:root {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.7);
}
#calculatorBody {
    max-width: 400px;
    height: 500px;
    margin: 2em auto;
    background: #666666;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
}
@media (max-width: 500px) {
    #calculatorBody {
        max-width: 80%;
        max-height: 80%;
    }
}
#display {
    grid-column: span 4;
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 2em;
    border-radius: 10px;
    text-align: right;
}
button {
    color: inherit;
    font-family: inherit;
}
#clear, #delete {
    grid-column: span 2;
    background: rgba(255, 99, 71,0.9);
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
}
#clear:hover, #delete:hover {
    cursor: pointer;
    background: rgba(255, 99, 71,0.6);
}
.btn {
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    background: rgba(238, 238, 238,1);
}
.btn:hover {
    cursor: pointer;
    background: rgba(238, 238, 238,0.7);
}
